* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btnLink {
    border: 0.1rem solid;
    text-decoration: none;
    padding: 0.5em;
}

body {
    margin: 5vh 6vw;
    font-family: sans-serif;
}

h1 {
    margin: 0 0 1rem 0;
}

nav li {
    display: inline;
    margin: 0 1em 0 0;
}

header,
article,
section {
    margin: 0 0 3rem 0;
}

article {
    /* Necessary to make card links on title stretch to fit the whole card */
    position: relative;
    display: flex;
        flex-direction: column;
}

article img {
    order: -1;
}

article h2 a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

main {
    line-height: 2em;
}

h2,
h3,
iframe,
img {
    margin: 0.5em 0;
}

ul {
    list-style: none;
}

main ul,
main > p,
div > p,
section > p {
    margin: 0 0 2em 0;
}

img,
iframe {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

article > img {
    height: 15rem;
}

footer {
    margin: 2rem 0 0 0;
}

footer small > a {
    margin: 0 0.7em 0.7em 0;
    display: inline-block;
}

@media (min-width: 45rem) {
    

    nav ul {
        margin: 0 0 1rem 0;
    }

    header,
    .flex{
        display: flex;
            flex-direction: row;
    }

    header {
        justify-content: space-between;
        align-items: center;
    }

    .flex > div:first-child {
        max-width: 45vw;
        margin-right: 4rem;
    }

    .home {
        min-height: 60vh;
        align-items: center;
        justify-content: space-between;
    }

    .home img {
        max-height: 60vh;
        max-width: 35vw;
    }

    .projectsWrap,
    .aboutWrap {
        display: grid;
        gap: 0.5rem 6rem;
        grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    }

    article,
    section {
        /* Just in case browser doesn't support grid */
        max-width: 40vw;
    }
}