* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scrollbar-gutter: stable;
}

.btnLink {
    border: 0.1rem solid;
    padding: 0.2em 0.8em;
    display: inline-block;
    margin: 0.8em 0 1.8em 0;
}

a {
    font-weight: bold;
}

h1 a {
    color: inherit;
}

h2 a,
header a,
.btnLink,
:focus-visible {
    text-decoration: none;
}

header > a {
    display: inline-block;
    margin-top: 1em;
}

a:hover,
:focus-visible {
    color: inherit;
}

:focus-visible {
    outline: 0.3rem solid;
}

header nav,
header > a,
.btnLink,
footer > a {
    user-select: none;
}

body {
    margin: 5vh 6vw;
    font-family: sans-serif;
}

h1 {
    margin-bottom: 1.5rem;
}

nav li {
    display: inline;
    margin-right: 2em;
}

header,
.videoInsert {
    margin-bottom: 3rem;
}

article {
    /* Necessary to make card links on title stretch to fit the whole card */
    position: relative;
    display: flex;
        flex-direction: column;
}

article img {
    order: -1;
}

article h2 a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

main {
    line-height: 2;
}

h2,
li h3 {
    margin: 1rem 0;
    line-height: 1.5;
}

h3,
article h2 {
    margin: 0.2rem 0;
}

p,
ul,
article {
    margin-bottom: 1.8em;
}

ul p {
    margin-bottom: 1.2em;
}

article p,
footer p {
    margin-bottom: 0;
}

img {
    margin: 1em 0;
}

ul {
    list-style: none;
}

img,
iframe {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.videoInsert {
    position: relative;
    padding: 56.21% 0 0 0;
}

.videoInsert iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    border: none;
}

article > img {
    height: 15rem;
}

footer {
    margin-top: 3rem;
}

footer > a {
    text-decoration: none;
}

footer svg {
    width: 2.2em;
    padding: 0.2em;
    display: inline-block;
}

svg {
    fill: currentColor;
}

@media (min-width: 45rem) {

    .videoInsert {
        padding: 0;
        height: 55vh;
    }

    nav ul {
        margin: 0 0 1rem 0;
    }

    header,
    .flex{
        display: flex;
            flex-direction: row;
    }

    header {
        justify-content: space-between;
        align-items: center;
    }

    header li {
        margin: 0 0 0 3em;
    }

    .flex > div:first-child {
        max-width: 45vw;
        margin-right: 4rem;
    }

    .home {
        min-height: 57vh;
        align-items: center;
        justify-content: space-between;
    }

    .home img {
        margin: 0;
        max-height: 50vh;
        max-width: 35vw;
    }

    .home .btnLink {
        margin-bottom: 0;
    }

    .projectsWrap,
    .aboutWrap {
        display: grid;
        gap: 0 6rem;
        grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    }

    article,
    section {
        /* Just in case browser doesn't support grid */
        max-width: 40vw;
    }
}